#name
{
    margin-left: -3%;
}

#email
{
    margin-left: -3%;
}

#password
{
    margin-left: -3%;
}

#password_confirmation
{
    margin-left: -2%; 
}

#btn
{
    margin-left: 0%;
}

#btnc
{
    margin-left: 0%;
}